* {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
}

h1 {
    padding-top: 10%;
}

#search-input {
    /* https://unsplash.com/s/photos/museum, photo by Dannie Jing */
    background-image: url("background.jpg");
    background-size: 100%;
    height: 100vh;
}

#search-group {
    display: flex;
    flex-direction: row;
}

body {
    background-color: burlywood;
}

main {
    min-height: 76vh;
}

em {
    font-weight: bold;
}

.hidden {
    display: none;
}

#alert {
    text-align:center;
}

#back-to-search {
    display: none;
    color: white;
    font-size: 15px;
    background-color:#3468bf;
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

#go {
    margin-top: 5px;
    margin-bottom: -5px;
}

#back-to-search:hover {
    background-color: #46b8da;
}

.notfound {
    text-align:center;
    padding-top:10%;
    font-family: "Georgia", serif;
}

/* search */

#map {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px
}


#input-loc {
    width: 40%;
}

.step-links a {
    color: #5F8AD3;
}

.global-search {
    text-align: center;
    padding: 10px;
}

.global-search * {
    margin-bottom: 0;
}

.global-search h1, h2 {
    font-family: "Georgia", serif;
}

.global-search p {
    font-family: "Georgia", serif;
    font-size: 1.3em;
}

.global-search .form-control {
    width: 500px;
}

.btn {
    background-color: #3468bf;
    border: none;
    margin-left: 1em;
}

.form-group {
    margin-top: 1.5em;
    margin-bottom: 0;
    width: 60%;
}


/* output */

.output-message {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.output-museum {
    max-width: 75%;
    margin: 3em auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.output-museum-name {
    margin-bottom: 0.4em;
    font-weight: bold;
}

.output-museum-desc {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.toggle-reviews {
    border: none;
    background-color: burlywood;
    color: darkblue;
    font-size: 1.3em;
    display: block;
    margin-bottom: 0.3em;
}

.toggle-reviews:hover {
    text-decoration: underline;
}

.review-quotes-list {
    list-style-type: none;
}

.output-review-quote {
    font-size: 1.3em;
    border-top: solid;
    border-width: thin;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

footer {
    background-color: #D3A05F;
    margin: 50px 0 0 0;
    padding: 1.5em 1.5em;
    font-family: "Georgia", serif;
    font-size: 1.2em;
}

#your-search {
    font-weight: bold;
}

#output-nonmap {
    display: flex;
    flex-direction: column;
}

#museum-desc {
    width: 700px;
    margin-right: 50px;
}

.description-map {
    height: 500px;
}


#output-map{
    border: 0;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    right: 10px;
    margin-bottom: 10px;
}

/* responsive to screen width */
@media (min-width: 1200px) {

    .container {
        max-width: 970px;
    }

    #museum-desc {
        width: 100%;
    }

}

@media (min-width:400px) {

    .global-search {
        padding: 20px 0;
        text-align: center;
    }

    #museum-desc {
        width: 100%;
    }

    .output-museum{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #output-map {
        width: 100%;
        height: 200px;
    }

}

@media (max-width:1000px) {

    .global-search .form-control {
        width: 100%;
    }

    #map {
        width: 70%;
    }

    .form-group {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
