<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <title>Curator: Museum Finder</title>
</head>

<body>
  <h1 class="notfound">Curator</h1>
  <h2 class='notfound'>404: Resource not found</h2>
  <p id="alert">The address you entered is not valid.</p>
  <footer>
    <p>Project Name: Curator</p>
    <p>Student Names: Madeleine Chang (mmc337), Shefali Janorkar (skj28), Esther Lee (esl86), Yvette Hung (yh387),
      Tiffany Zhong (tz279)</p>
  </footer>
</body>

</html>
